.list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
    list-style-type: none;
}

.moviePoster {
    object-fit: cover;
    width: 100%;
    overflow: hidden;
    border-radius: 6px;
}

.listItem {
    width: calc((100% - 48px) / 7);
    transition: transform 200ms ease-in-out;
}

.listItem:hover,
.listItem:focus {
    transform: scale(1.02);
}

.listLink {

    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    color: #000;
    font-size: 12px;
    font-weight: 500;
}

.listLink p {
    margin: 4px;
}